body {
    margin: 0;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.main {
     margin:20px;
}
h1 {
    font-family: "kode mono";  
    font-size: 36px;
    font-weight: 500px;
    margin: 0;
}

.sku{
    font-size: 10px;
    font-weight: 500px;
    text-transform: uppercase;
    font-style: italic;
    opacity: 0.3;
    margin: 0;
}

.product-cover{
    margin:0;
}

.product-cover img {
    width: 100%;
    border-radius: 8px;
}


.section.title{
   font-size: 18px;
   font-weight: bold;

}


.product-cta {
    background-color:black;
    color: white;
    border-radius: 4px;
    padding: 6px 10px;
    text-transform: uppercase;
    border: 1px solid black;
}

.variant-list {
    list-style: none;
    margin: 0;
    padding:0;
    display:flex;
    flex-direction: row;
    gap: 6px;
}

.blocks-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gallery-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.gallery-grid img {
    width: 100%;       
    border-radius: 8px;             
}

@media(min-width: 768px) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .content-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
